 *{margin:0}
table{
    width: 100%;
    height: 100vh;
    }

    .linha1 {height: 150px;}
    .linha2 {height: 150px;}
    .linha3 {height: 200px;}
    .linha4 {height: 65px;}
    .linha5 {height: 65px;}

    .td1 {width: 20%; background-color: #7700A3;}
    .td2 {width: 80%; background-color: #C13205}
    .td3 {width: 15%; background-color: #FFFE04;}
    .td4 {width: 21%; background-color: #C13205;
    text-align: center;
    vertical-align: top}
    .td5 {width: 17%; background-color: #7700A3;}
    .td6 {width: 12%;background-color: #C13205;}
    .td7 {width: 5%;background-color: #FFFE04;}
    .td8{background-color: #7700A3;}
    .td9{background-color: #7700A3;}
    .td10{background-color: #FFFE04;;}
    .td11{background-color: #FFFE04;}
    .td12{background-color: #C13205;}
    .td1 img{
        float: right;
    }
    .td9 img{
        display: block;
    margin-left: auto;
    margin-right: auto;
    }
    p{
        font-family: sans-serif;
        font-size: large;
        text-align: center;
        padding-right: 120px;
        padding-left: 120px;
        text-align: justify;
    }
